{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 100
}
