@import "tailwindcss";
@source "../../src";

@theme {
  --color-backgroundPrimary: #0e0e0e;
  --color-backgroundSecondary: #1a1a1a;
  --color-primary: #ad5aff;
  --color-secondary: #ffb2de;
  --color-textPrimary: #f2f2f2;
  --color-textSecondary: #919191;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: inherit;
}

@utility highlight {
  color: var(--color-textPrimary);
  font-weight: 500;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  &:hover {
    color: var(--color-primary);
  }
}

@utility section-title {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
}

@utility btn-primary {
  position: relative;
  color: var(--color-textPrimary);

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    transform: translateY(0.25rem);
    opacity: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  &:hover::before {
    opacity: 1;
  }
}

@utility link-primary {
  position: relative;
  color: var(--color-textPrimary);

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    transform: translateY(0.25rem);
    opacity: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    content: '→';
    position: absolute;
    margin-left: 0.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }

  &:hover::after {
    transform: translateX(0.5rem);
  }
}
