@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: inherit;
}

@layer components {
  .highlight {
    @apply text-textPrimary hover:text-primary transition-colors duration-300 ease-in-out font-medium;
  }

  .section-title {
    @apply text-primary font-medium text-xl mb-3;
  }

  .btn-primary {
    @apply text-textPrimary before:transition-all before:duration-300 before:content-[''] relative before:absolute before:h-[2px] before:bottom-0 before:transform before:translate-y-1 before:opacity-0 hover:before:opacity-100 before:w-full before:bg-primary;
  }

  .link-primary {
    @apply btn-primary  after:content-['→'] after:absolute after:ml-2 hover:after:transform hover:after:translate-x-2 after:transition-all after:duration-200;
  }
}
